h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}
form {
    display: block;
    margin-top: 0em;
}

.color-table > ._group > ._tile {
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #000;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
}

.color-table > ._group {
    position: relative;
    float: left;
    width: 114px;
    height: 114px;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: #000;
}

.color-table {
    float: left;
    padding-left: 4px;
    width: 352px;
    height: 238px;
    background: #000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
