h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    text-align: center;
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
}
form {
    display: block;
    margin-top: 0em;
}

.uid-title {
    font-size: 30px;
    font-weight: 400;
}

.uid-box {
    font-size: 20px;
    font-weight: 400;
    width: 200px;
}

.title-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.color-submit {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.color-table > ._group > ._tile {
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #000;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
}

.color-table > ._group {
    position: relative;
    float: left;
    width: 114px;
    height: 114px;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: #000;
}

.color-table {
    float: left;
    padding-left: 4px;
    width: 352px;
    height: 238px;
    background: #000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.form {
  width: 1300px;
}

.fields {
    width: 300px;
    float: right;
}

.colors {
  width: 990px;
  font-size: 0;
  background: #FFFFFF;
  float: left;
}

.colors > .color-group {
  width: 330px;
  font-size: 0;
  position: relative;
  display: inline-block;
}

.colors > .color-group > div {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 2.5px;
}

.colors > .color-group > div > .unsel {
  display: inline-block;
  z-index: 1;
  position: relative;
  background-color: red;
  outline: 1px solid black;
  width: 50px;
  height: 50px;
}

.colors > .color-group > div > .sel {
  display: inline-block;
  z-index: 10000;
  background-color: red;
  outline: 1px solid black;
  width: 40px;
  height: 40px;
  margin: -10px;
}